* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #18181b;
    font-family:"poppins"
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}


.nav{
    max-width: 1200px;
    align-items: center;
    padding: 32px 16px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    gap: 32px;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
}

.link a{
    position: relative;
    color: #fff;
    padding-bottom: 13px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all .3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 16px 32px;
    font-size: 16px;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover{
    background-color: #1e40af;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

header .content h4{
margin-bottom: 16px;
color: #ccc;
font-size: 16px;
font-weight: 600;    
}

header .content h1{
    font-family: "";
    color: #fff;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;  
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px #fff;
}

header .content p{
    margin-bottom: 32px;
    color: #ccc;
}

header .image{
    position: relative;
}

header  .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 608px;
    font-weight: 400;
    line-height: 320px;
    color: #1d4ed8;
    opacity: .2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

.nav-prod {
    justify-content: center;
    max-width: 1200px;
    align-items: center;
    padding: 32px 16px;
    margin: auto;
    display: flex;
}

.produtos{
    text-decoration: none;
    display: flex;
    list-style: none;
    text-align: center;
    margin: auto;
    gap: 80px;
}

.produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 15px;
    width: 250px;
    height: 300px;
    color: #fff;
    padding: 20px;
    font-weight: 600;
    background-color: #27272a;
    transition: all 0.3s ease;
}

.nav-prod .header {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.produto:hover{
    box-shadow: 0 0 10px #1e40af;
    border: 2px solid #1e40af;
    background-color: #323238;
    transition: 0.3s;
}

.btn2{
    background-color: transparent;
    color: #ccc;
    font-family: "poppins";
    font-size: 16px;
    margin-top: 20px;
    text-decoration:underline;
    cursor: pointer;
    transition: 0.3s;
}

.btn2:hover{
    color: #1d4ed8;
}

.nav-foo{
    max-width: 1000px;
    align-items: center;
    padding: 32px 16px;
    margin: auto;
    display:flex;
    gap: 32px;
    justify-content: space-between;
    
}

.img-foo{
    display: flex;
    font-size: 20px;
    max-width: 100px;
    justify-content: center;
    align-items: center;
}

.apre{
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 12px;
}

.sobre{
    color: #fff;
}

.sobre:hover{
    color: #1e40af;
    cursor: pointer;
    transition: 0.3s;
}

.Copyright{
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: #212125;
    font-size: 12px;
}

.nivel{
    max-width: 100%;
    padding-bottom: 10px;
    font-size: 25px;
}

.header2{
    display: flex;
    justify-content: center;
    color: #fff;
}

.precos{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.card{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.bloco{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;

}

.descri{
    flex: 1;
    margin-bottom: 2rem;
}

.descri h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.descri  h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.descri p{
    color: #fff;
    margin-bottom: 32px;
}

.descri .btn3{
    
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn3:hover{
    transition: 0.3s;
    background-color: #1e40af;
}

.bloco:hover{
    box-shadow: 0 0 10px #1e40af;
    border: 2px solid #1e40af;
    background-color: #323238;
    transition: 0.3s;

}